/* Global */
:root {
  /* Color */
  --color-white: #FFF;
  --color-black: #333;
  --color-yellow: #FFC301;
  --color-gray: #E7E7E7;
  --color-blue: #63A4FF;
  /* font size */
  --font-large: 4rem;
  --font-medium: 2rem;
  --font-regular: 1.6rem;
  --font-small: 1.4rem;
  --font-micro: 1.2rem;

  /* fon weight*/
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-black: 900;

  /* border redius */
  --border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:active {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  width: 130px;
  height: 48px;
  padding: 12px;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  border-radius: 4px;
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  text-align: center;
  box-sizing: border-box;
}

.btn--white {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

.btn--black:hover {
  border: 2px solid var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all .4s;
}

.btn--white:hover {
  border: 2px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all .4s;
}

.btn--yellow:hover {
  border: 2px solid var(--color-yellow);
  background-color: var(--color-yellow);
  color: var(--color-black);
  transition: all .4s;
}

.section {
  margin-top: 120px;
  text-align: center;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
.header {
  width: 100%;
}

.header>.inner {
  height: 243px;
  position: relative;
}

.header .logo {
  display: flex;
  padding: 20px 0;
  margin: auto;
  color: var(--color-black);
}

.header .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.header .logo .logo__text {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: auto 0;
}

.header__user-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 44px;
  right: 0;
}

.header__user-menu .user-menu {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}


.header__user-menu .user-menu .user-menu__item {
  position: relative;
  margin: 0 20px;
  font-size: var(--font-regular);
}

.header__user-menu .user-menu .user-menu__item::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  margin: auto;
}

.header__user-menu .user-menu .user-menu__item:first-child:before {
  display: none;
}

.header__user-menu .user-menu .user-menu__item .anchor {
  padding: 12px 20px;
  display: block;
  color: var(--color-black);
}

.header__user-menu .user-menu .user-menu__item .anchor:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.header__search {
  height: 34px;
  position: relative;
}

.header__search .header__search--input {
  width: 34px;
  height: 34px;
  padding: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: var(--color-black);
  font-size: var(--font-small);
  transition: all .4s;
  z-index: 2;
}

.header__search .header__search--input:focus {
  width: 190px;
  border-color: var(--color-yellow);
}

.header__search .search--icon {
  font-size: var(--font-small);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: 10px auto;
  transition: .4s;
  cursor: pointer;

}

.header__search .header__search--input.focused {
  opacity: 0;
}

.header__nav .nav {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.header__nav .nav .nav__item {
  position: relative;
  padding: 12px 36px;
}

.header__nav .nav .nav__item .nav__name {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);

}

.header__nav .nav .nav__item .nav__name .maintitle:hover {
  color: var(--color-yellow);
}

.header__nav .nav .nav__item .nav__content {
  width: 140px;
  height: 172px;
  background-color: var(--color-white);
  position: absolute;
  top: 45px;
  left: 0;
  padding: 20px 20px;
  visibility: hidden;
  z-index: 1;
  transition: all .4s;
  opacity: 0;
}

.header__nav .nav .nav__item .nav__content li {
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  padding: 8px 0;
}

.header__nav .nav .nav__item .nav__content .subtitle:hover {
  color: var(--color-yellow);
}

.header__nav .nav .nav__item:hover .nav__content {
  visibility: visible;
  opacity: 1;
  color: var(--color-yellow);
}

/* VISUAL */
.visual {
  margin-top: 20px;
  overflow: hidden;
}

.visual>.inner {
  height: 573px;
  position: relative;
}

.visual .inner .visual__container {
  width: 200vw;
  height: auto;
  transition: all .5s;
}

.visual .inner .visual__container .visual__item {
  width: 100vw;
  float: left;
  position: relative;
}

.visual .inner .visual__container .visual__item img {
  width: 1280px;
  height: 563px;
}

.visual .inner .visual__container .visual__item .btn {
  position: absolute;
  top: 395px;
  left: 120px;
}

.visual .btn__container {
  position: absolute;
  bottom: 40px;
  left: 50%;
}

.visual .btn__container button {
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
}

.visual .btn__container button:hover {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}

/* ABOUT */
.about .inner .main__text {
  width: 100%;
  height: 225px;
  display: block;
  position: relative;
}

.about h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

.about p {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin-top: 20px;
  line-height: 29px;
}

.about .inner .main__text .btn {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.about .about__main {
  margin-top: 70px;
  position: relative;
}

.about .about__main .btn {
  position: absolute;
  top: 317px;
  left: 120px;
}

.about .about__container {
  display: flex;
  justify-content: space-between;

}

.about .about__container .item {
  width: 406px;
  height: 460px;
  margin-top: 4z0px;
  position: relative;
  overflow: hidden;
}

.about .about__container .item img {
  height: 100%;
  /* object-fit: cover 이미지가 커도 자동으로 맞춰줌*/
  object-fit: cover;
  position: relative;
  transition: all .4s;
}

.about .about__container .item img:hover {
  height: 480px;
}

.about .about__container .item .item__descriptiom {
  width: 100%;
  height: 118px;
  position: absolute;
  top: 342px;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  opacity: 0;
  transition: all .4s;
}

.about .about__container .item:hover .item__descriptiom {
  height: 118px;
  display: block;
  opacity: 0.9;
}

.about .about__container .item .item__descriptiom .item__name {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  padding: 20px 0;
}

.about .about__container .item .item__descriptiom .item__price {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
}

/* MD PICK */
.mdpick .inner .main__text {
  width: 100%;
  display: block;
  position: relative;
}

.mdpick h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

.mdpick p {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin-top: 20px;
  line-height: 29px;
}

.mdpick .inner .mdpick__category {
  margin-top: 40px;
}

.mdpick .inner .mdpick__category .category__btn {
  margin: 0 20px;
  padding: 12px 51px;
  border-radius: 35px;
  border: 2px solid var(--color-black);
  background: var(--color-white);
  font-weight: var(--weight-medium);
  transition: all .4s;
}

.mdpick .inner .mdpick__category .category__btn:hover {
  background: var(--color-yellow);
  border: 2px solid var(--color-yellow);
}

.mdpick .inner .mdpick__item {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.mdpick .inner .mdpick__item .mdpickItem {
  width: 290px;
  height: 487px;
  position: relative;
  box-shadow: 10px 10px 30px var(--color-gray);

}

.mdpick .inner .mdpick__item .mdpickItem img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.mdpick .inner .mdpick__item .mdpickItem .discount__percent {
  width: 60px;
  height: 60px;
  background: red;
  padding: 15px 10px;
  border-radius: 8px 0 8px 0;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
}

.mdpick .inner .mdpick__item .mdpickItem .mdpick__description {
  padding: 20px 20px;
  text-align: left;
  color: var(--color-black);
}

.mdpick .inner .mdpick__item .mdpickItem .mdpick__description .mdpick__name {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
}

.mdpick .inner .mdpick__item .mdpickItem .mdpick__description .mdpick__price {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  color: var(--color-blue);
  padding: 20px 0 0 0;
}

.mdpick .inner .mdpick__item .mdpickItem .mdpick__description .mdpick__discount {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  padding: 20px 0 0 0;
  text-decoration: line-through;
}

/* BRAND ALL */
.brand {
  height: 395px;
  background-image: url(./image/brand__1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-top: 120px;
}

.brand .inner {
  padding: 70px 70px;
}

.brand .inner .text__group {
  height: 100%;
  position: relative;
}

.brand .inner .text__group h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  position: absolute;
  right: 0;
}

.brand .inner .text__group p {
  font-size: var(--font-medium);
  font-weight: var(--font-regular);
  text-align: right;
  color: var(--color-white);
  padding: 20px 0;
  line-height: 29px;
  position: absolute;
  top: 50px;
  right: 0;
}

.brand .inner .text__group .btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* MEAL KIT */
.mealkit {
  height: 395px;
  background-image: url(./image/mealkit__1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.mealkit .text__group {
  height: 100%;
  display: block;
  position: relative;
}

.mealkit .text__group h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  position: absolute;
  top: 70px;
  left: 70px;
}

.mealkit .text__group p {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  text-align: left;
  color: var(--color-white);
  line-height: 29px;
  margin-top: 20px;
  position: absolute;
  top: 118px;
  left: 70px;
}

.mealkit .text__group .btn {
  margin: 0 auto;
  position: absolute;
  bottom: 70px;
  left: 70px;
}

/* REVIWE */
.review {
  height: 1397px;
  background-color: var(--color-gray);
}

.review .inner .review__container {
  height: 100%;
  padding: 70px 0;
}

.review .inner .review__container h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  text-align: center;
}

.review .inner .review__container .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}


.review .inner .review__container .swiper-wrapper .swiper-slide {
  width: 290px;
  height: 470px;
  margin-top: 70px;
  background-color: var(--color-white);
  transition: all .4s;
  opacity: 0.5;
}

.review .inner .review__container .swiper-wrapper .swiper-slide a {
  color: black !important;
}

.review .inner .review__container .swiper-wrapper .swiper-slide:hover {
  margin: 10px 0;
  opacity: 1;
}


.review .inner .review__container .swiper-wrapper .swiper-slide img {
  width: 290px;
  height: 284px;
}

.review .inner .review__container .btn {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: auto;
}

.review .inner .review__container .swiper-wrapper .swiper-slide .texe__area {
  height: 162px;
  padding: 20px 10px;
  position: relative;
}

.review .inner .review__container .swiper-wrapper .swiper-slide .subject {
  line-height: 24px;
}

.review .inner .review__container .swiper-wrapper .swiper-slide .day {
  margin-top: 10px;
  font-weight: var(--weight-regular);

}

.review .inner .review__container .swiper-wrapper .swiper-slide .id {
  position: absolute;
  top: 78px;
  right: 10px;
}

.review .inner .review__container .swiper-wrapper .swiper-slide .line {
  width: 290px;
  position: absolute;
  bottom: 34px;
  left: 0;
}

.review .inner .review__container .swiper-wrapper .swiper-slide .itemName {
  position: absolute;
  font-weight: var(--weight-bold);
  bottom: 0;
}

/* FOOTER */
footer .inner {
  padding: 120px 0;
}


footer .menu {
  display: flex;
  margin-bottom: 70px;
}

footer .menu a {
  color: var(--color-black);
}

footer .menu li {
  margin-right: 20px;
}

footer .ft_con {
  margin: 70px 0;
  display: flex;

}

footer .ft_con .con .tit {
  margin-bottom: 20px;
}

footer .ft_con .con .line {
  width: 69px;
  margin: 0;
}

footer .ft_con .con01 .number {
  margin: 40px 0;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

footer .ft_con .con01 div {
  margin-top: 20px;
}

footer .ft_con .con02,
footer .ft_con .con03 {
  margin-left: 120px;
}

footer .ft_con .con02 .con2__info {
  margin-top: 40px;
}

footer .ft_con .con02 div {
  margin-top: 20px;
}

footer .ft_con .con03 .con3__icon {
  margin-top: 40px;
}

footer .ft_con .con03 .con3__icon i {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

footer .con__info b {
  font-size: var(--font-small);
  display: inline-block;
  margin-top: 70px;
  margin-right: 10px;
}

/* ARROW UP */
.topup {
  position: fixed;
  bottom: 50%;
  right: 40px;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 16px;
  text-align: center;
  transition: all .4s;
}

.topup .visible {
  pointer-events: auto;
}