/* Global */
:root {
  /* Color */
  --color-white: #FFF;
  --color-black: #333;
  --color-yellow: #FFC301;
  --color-lightGray: #eee;
  --color-gray: #C2C2C2;
  --color-blue: #63A4FF;
  --color-green: #378842;
  --color-red: #F44336;
  /* font size */
  --font-large: 4rem;
  --font-medium: 2rem;
  --font-regular: 1.6rem;
  --font-small: 1.4rem;
  --font-micro: 1.2rem;

  /* fon weight*/
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-black: 900;

  /* border redius */
  --border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  cursor: default;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

a:active {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.btn {
  width: 130px;
  height: 48px;
  padding: 12px 43px;
  border: 2px solid var(--color-black);
  color: var(--color-black);
  border-radius: 4px;
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  text-align: center;
  box-sizing: border-box;
}

.btn--white {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}

.btn--black:hover {
  border: 2px solid var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all .4s;
}

.btn--white:hover {
  border: 2px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
  transition: all .4s;
}

.btn--yellow:hover {
  border: 2px solid var(--color-yellow);
  background-color: var(--color-yellow);
  color: var(--color-black);
  transition: all .4s;
}

.section {
  margin-top: 120px;
  text-align: center;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
.header {
  width: 100%;
}

.header>.inner {
  position: relative;
}

.header .logo {
  display: flex;
  padding: 20px 0;
  margin: auto;
  color: var(--color-black);
}

.header .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.header .logo .logo__text {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: auto 0;
}

.header__user-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 44px;
  right: 0;
}

.header__user-menu .user-menu {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
}


.header__user-menu .user-menu .user-menu__item {
  position: relative;
  margin: 0 20px;
  font-size: var(--font-regular);
}

.header__user-menu .user-menu .user-menu__item::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  margin: auto;
}

.header__user-menu .user-menu .user-menu__item:first-child:before {
  display: none;
}

.header__user-menu .user-menu .user-menu__item .anchor {
  padding: 12px 20px;
  display: block;
  color: var(--color-black);
}

.header__user-menu .user-menu .user-menu__item .anchor:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.header__search {
  height: 34px;
  position: relative;
}

.header__search .header__search--input {
  width: 34px;
  height: 34px;
  padding: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: var(--color-black);
  font-size: var(--font-small);
  transition: all .4s;
  z-index: 2;
}

.header__search .header__search--input:focus {
  width: 190px;
  border-color: var(--color-yellow);
}

.header__search .search--icon {
  font-size: var(--font-small);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: 10px auto;
  transition: .4s;
  cursor: pointer;

}

.header__search .header__search--input.focused {
  opacity: 0;
}

.header__nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  padding: 40px 0;
  z-index: 999;
  transition: all .2s;
}

.header__nav.is-fixed .nav {
  width: 1280px;
  margin-top: 0;
}

.header__nav .nav {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.header__nav .nav .nav__item {
  position: relative;
  padding: 12px 36px;
}

.header__nav .nav .nav__item .nav__name {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);

}

.header__nav .nav .nav__item .nav__name .maintitle:hover {
  color: var(--color-yellow);
}

.header__nav .nav .nav__item .nav__content {
  width: 140px;
  height: 172px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: 0 14px 20px rgb(0 0 0 / 10%);
  position: absolute;
  top: 45px;
  left: 0;
  padding: 20px 20px;
  visibility: hidden;
  z-index: 4;
  transition: all .4s;
  opacity: 0;
}

.header__nav .nav .nav__item .nav__content li {
  font-size: var(--font-regular);
  font-weight: var(--weight-light);
  padding: 8px 0;
}

.header__nav .nav .nav__item .nav__content .subtitle:hover {
  color: var(--color-yellow);
}

.header__nav .nav .nav__item:hover .nav__content {
  visibility: visible;
  opacity: 1;
  color: var(--color-yellow);
}

/* VISUAL */
.visual {
  margin-top: 20px;
}

.visual__inner {
  height: 573px;
  position: relative;
}

.visual .visual__banner {
  width: 200vw;
  height: auto;
}

.visual .visual__banner .banner {
  width: 100vw;
  transition: all .4s;
}

.visual .visual__banner .banner .banner__image {
  width: 1280px;
  height: 563px;
  position: relative;
}

.visual .visual__banner .banner .banner__text-area {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 120px;
}

.visual .visual__banner .banner .banner__text-area .title {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  line-height: 50px;
  margin-bottom: 40px;
}

.visual .visual__banner .banner .banner__text-area .title-whith {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  line-height: 50px;
  margin-bottom: 40px;
  color: var(--color-white);
}

.visual .visual__banner .banner .banner__text-area .text {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  line-height: 30px;
  margin-bottom: 70px;
}

.visual .visual__banner .banner .banner__text-area .text-whith {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  line-height: 30px;
  color: var(--color-white);
  margin-bottom: 70px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--color-green);
}

.visual .visual__sub-btn {
  position: absolute;
  bottom: 40px;
  font-size: 30px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-green);
}


/* SEASON */
.season .season__title {
  width: 100%;
  position: relative;
}

.season .season__title .tit {
  font-size: var(--font-large);
  font-weight: var(--weight-medium);
}

.season .season__title .text {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin-top: 20px;
  line-height: 29px;
}

.season .season__main .main__list {
  display: flex;
  justify-content: space-between;
}

.season .season__main .main__list .main__item {
  position: relative;
  margin-top: 40px;
  width: 413px;
  height: 400px;
}

.season .season__main .main__list .item__img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.season .season__main .main__list .main__item .item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  transition: all .4s linear;
}

.season .season__main .main__list .main__item .item__discroption {
  width: 100%;
  /* height: 113px; */
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: var(--color-gray);
  background-color: rgba(255, 255, 255, .8);
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
  padding: 20px 0;
}

.season .season__main .main__list .main__item .item__discroption .tit {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  line-height: 24px;
}

.season .season__main .main__list .main__item .item__discroption .price {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  line-height: 29px;
  margin-top: 20px;
}

.season .season__main .main__list .main__item:hover .item__discroption {
  visibility: visible;
  opacity: 1;
}

.season .season__main .main__list .main__item:hover .item-image {
  transform: scale(1.05);
}

/* ABOUT */
.about {
  width: 100%;
  height: 710px;
}

.about .about__sale {
  margin-top: 120px;
  display: flex;
  position: relative;
}

.about .about__sale .sale__text-arear .tit {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin-bottom: 40px;
}

.about .about__sale .sale__text-arear .tit::after {
  content: "";
  display: block;
  width: 120px;
  margin-top: 40px;
  border-bottom: 1px solid var(--color-black);
}

.about .about__sale .sale__text-arear .text {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
}

.about .about__sale .sale__list {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.about .about__sale .sale__list .sale__item {
  width: 407px;
  height: 590px;
  margin-left: 20px;
  cursor: pointer;
}

.about .about__sale .sale__list .sale__item .item__img .item--image {
  width: 100%;
  height: 452px;
  object-fit: cover;
  text-align: center;
  position: relative;
}

.about .about__sale .sale__list .sale__item .item__time {
  width: 407px;
  height: 69px;
  position: absolute;
  top: 383px;
  background-color: var(--color-green);
}

.about .about__sale .sale__list .sale__item .item__time .time {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
  line-height: 69px;
  color: var(--color-white);
}

.about .about__sale .sale__list .sale__item .item__title {
  padding: 20px 0;
}

.about .about__sale .sale__list .sale__item .item__title .tit {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
}

.about .about__sale .sale__list .sale__item .item__text-arear {
  display: flex;
  line-height: 30px;
}

.about .about__sale .sale__list .sale__item .item__text-arear .percent {
  color: var(--color-red);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-right: 10px;
}

.about .about__sale .sale__list .sale__item .item__text-arear .price {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-right: 10px;
}

.about .about__sale .sale__list .sale__item .item__text-arear .discount {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  margin-right: 10px;
  text-decoration: line-through;
  color: var(--color-gray);
}

/* MD PICK */
.md-pick {
  width: 100%;
  text-align: center;
  background-color: var(--color-lightGray);
}

.md-pick .inner {
  padding: 70px 0;
}

.md-pick .md-pick__title .tit {
  font-size: var(--font-large);
  font-weight: var(--weight-medium);
  padding-bottom: 20px;
}

.md-pick .md-pick__title .text {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  padding-bottom: 70px;
}

.md-pick .md-pick__category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.md-pick .md-pick__category .selected {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  margin-right: 40px;
  padding: 12px 43px;
  border: 1px solid var(--color-black);
  border-radius: 35px;
  background-color: var(--color-white);
  transition: all .4s;
  cursor: pointer;
}

.md-pick .md-pick__category .selected:hover {
  background-color: var(--color-green);
  color: var(--color-white);
  border: 1px solid var(--color-green);
}

.md-pick .md-pick__category .selected:last-child {
  margin-right: 0;
}


.md-pick .md-pick__product {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.md-pick .md-pick__product .product {
  margin-right: 40px;
  width: 290px;
  height: 477px;
  position: relative;
}


.md-pick .md-pick__product .product:last-child {
  margin-right: 0;
}

.md-pick .md-pick__product .product .product__img-box {
  width: 290px;
  height: 320px;
  overflow: hidden;
}

.md-pick .md-pick__product .product .product__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: all .4s;
}

.md-pick .md-pick__product .product .product__img-box:hover .product__image {
  transform: scale(1.05);
}

.md-pick .md-pick__product .product .product__percent {
  width: 62px;
  height: 60px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  background-color: var(--color-red);
  text-align: center;
  line-height: 60px;
  color: var(--color-white);
  border-radius: 0 10px 0 10px;
}

.md-pick .md-pick__product .product .product__description {
  width: 100%;
  padding: 20px 0;
}

.md-pick .md-pick__product .product .product__description .name {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  text-align: left;
}

.md-pick .md-pick__product .product .product__description .price {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: left;
  margin-top: 20px;
}

.md-pick .md-pick__product .product .product__description .discount {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  text-decoration: line-through;
  text-align: left;
  margin-top: 20px;
  color: var(--color-gray);
}

/* BRAND ALL */
.brand {
  height: 365px;
  background-image: url(./image/brand__1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin-top: 120px;
  text-align: center;
  padding: 70px 0;
}

.brand .brand__title .tit {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin-bottom: 20px;
}

.brand .brand__title .text {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin-bottom: 80px;
  line-height: 29px;
}


/* MEAL KIT */
.mealkit {
  width: 100%;
  padding: 120px 0;
}

.mealkit .mealkit__title {
  text-align: center;
}

.mealkit .mealkit__title .tit {
  font-size: var(--font-large);
  font-weight: var(--weight-medium);
  padding-bottom: 20px;
}

.mealkit .mealkit__title .text {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  padding-bottom: 70px;
}

.mealkit .mealkit__title .btn {
  margin-bottom: 70px;
}

.mealkit .mealkit__swiper {
  width: 100%;
  padding: 70px 0;
}

.mealkit .mealkit__swiper .swiper__container {
  display: flex;
}

.mealkit .mealkit__swiper .swiper__container .container__item {
  width: 290px;
  height: 353px;
  box-shadow: 0 14px 20px rgb(0 0 0 / 10%);
}

.mealkit .mealkit__swiper .swiper__container .container__item .item__list .list .item-image {
  width: 290px;
  height: 284px;
  object-fit: cover;
}

.mealkit .mealkit__swiper .swiper__container .container__item .item__list .list .title {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  text-align: center;
  padding: 20px 0;
}

/* REVIWE */
.review {
  height: 719px;
  background-color: var(--color-lightGray);
  padding: 70px 0;
}

.review .review__text-arear {
  text-align: center;
  margin-bottom: 70px;
}

.review .review__text-arear .tit {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin-bottom: 20px;
}

.review .review__text-arear .text {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin-bottom: 60px;
  line-height: 29px;
}

.review .review__groups {
  display: flex;
  justify-content: space-between;
}

.review .review__groups .review__group .group__item .item-image {
  width: 305px;
  height: 284px;
  object-fit: cover;
}

/* FOOTER */
footer .inner {
  padding: 120px 0;
}


footer .footer__list {
  display: flex;
  margin-bottom: 70px;
}

footer .footer__list .footer__item {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin-right: 20px;
}

footer .footer__con {
  margin: 70px 0;
  display: flex;
}

footer .footer__con .con__service .tit,
footer .footer__con .con__bank .bank__tit,
footer .footer__con .con__sns .sns__tit {
  margin-bottom: 20px;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
}

footer .footer__con .con__service .tit::after,
footer .footer__con .con__bank .bank__tit::after,
footer .footer__con .con__sns .sns__tit::after {
  content: "";
  display: block;
  width: 69px;
  margin-top: 20px;
  border-bottom: 1px solid var(--color-gray);
}

footer .footer__con .con__service .service__text-area .number {
  margin-top: 40px;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
}

footer .footer__con .con__service .service__text-area .time,
footer .footer__con .con__service .service__text-area .day {
  font-size: var(--font-regular);
  margin-top: 20px;
}

footer .footer__con .con__bank,
footer .footer__con .con__sns {
  margin-left: 120px;
}

footer .footer__con .con__bank .bank__text-area,
footer .footer__con .con__sns .sns__icon {
  margin-top: 40px;
}

footer .footer__con .con__bank .bank__text-area .number,
footer .footer__con .con__bank .bank__text-area .name {
  font-size: var(--font-regular);
  margin-top: 20px;
}

footer .footer__con .con__sns .sns__icon i {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

footer .con__info b {
  font-size: var(--font-small);
  display: inline-block;
  margin-top: 70px;
  margin-right: 10px;
}

footer .con__info::before {
  content: "";
  display: block;
  width: 1280px;
  border-bottom: 1px solid var(--color-gray);

}

/* ARROW UP */
.topup {
  position: fixed;
  bottom: 50%;
  right: 40px;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 16px;
  text-align: center;
  transition: all .4s;
}

.topup .visible {
  pointer-events: auto;
}